@box-shadow-01: 0 1px 1px 0 rgba(0, 0, 0, 0.21),
0 2px 1px -1px rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
@box-shadow-02: 0 2px 2px 0 rgba(0, 0, 0, 0.21),
0 3px 1px -2px rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.3);

@greenBtn: #8BC34A;
@greenBtnHover: #9CCC65;
@greenBtnActive: #7CB342;
