@import '../style/styles';

.About {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.About__nav {
	@nav();
}

.About__navBtn {
	@navBtn();
}

.About__navBtn:hover {
	@navBtnHover();
}

.About__navBtn:active {
	@navBtnActive();
}

.About__header {
	@header();
}

.About__label {
	font-size: 32px;
	margin-bottom: 12px;
}

.About__content {
	text-align: center;
	margin-bottom: 18px;
}

.About__list {
	list-style-type: none;
}
