@import '../style/styles';

.About {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.About__nav {
	position: absolute;
	top: 24px;
	left: 12px;
	font-size: 18px;
}

.About__home {
	padding: 12px;
	border-radius: 2px;
	background-color: @blackBtn;
	box-shadow: @box-shadow-01;
	color: white;
}

.About__home:hover {
	background-color: @blackBtn-light;
	box-shadow: @box-shadow-02;
}

.About__home:active {
	background-color: @blackBtn;
	box-shadow: @box-shadow-02;
}

.About__header {
	font-size: 64px;
}

.About__label {
	font-size: 32px;
	margin-bottom: 12px;
}

.About__content {
	text-align: center;
	margin-bottom: 18px;
}
