@import '../style/styles';

.Game {
	height: 100%;
}

.Game--dark {
	@dark();
}

.Game__header {
	display: flex;
	justify-content: center;
	padding-top: 64px;
	margin-bottom: 6px;
}

.Game__nav {
	@nav();
}

.Game__navBtn {
	@navBtn();
}

.Game__navBtn--dark {
	@darkNavBtn();
}

.Game__navBtn:hover {
	@navBtnHover();
}

.Game__navBtn--dark:hover {
	@darkNavBtnHover();
}

.Game__navBtn:active {
	@navBtnActive();
}

.Game__navBtn--dark:active {
	@darkNavBtn();
}

.Game__navBtn--disabled {
	@disabledNavBtn();
}

.Game__navBtn--disabled--dark {
	@disabledDarkNavBtn();
}

.Game__words {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 32px;
}

.Game__label {
	margin-right: 6px;
	text-align: right;
}

.Game__input {
	width: 100%;
	overflow: hidden;
	font-size: 18px;
	background-image: url('./textbox.png');
	background-size: contain;
}

.Game__seed {
	text-align: center;
	position: absolute;
	right: 12px;
	top: 12px;
	padding: 5px;
	background-color: @disabledBtn;
}

.Game__btns {
	text-align: right;
	margin-right: 18px;
	margin-bottom: 6px;
}

.Game__btn {
	background-color: @blackBtn;
	color: white;
	border: none;
	padding: 3px;
	cursor: pointer;
	margin-left: 6px;
	border-radius: 3px;
	font-size: 16px;
	box-shadow: @box-shadow-01;
}

.Game__btn:hover {
	background-color: @blackBtn-light;
	box-shadow: @box-shadow-02;
}

.Game__btn:active {
	background-color: @blackBtn;
	box-shadow: @box-shadow-02;
}

.Game__content {
	height: calc(100% - 183.75px - 18px);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.Game__solution {
	position: relative;
	border: 1px solid black;
	height: 60%;
	margin-left: 18px;
	margin-right: 18px;
}

.Game__history {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: calc(100% - 51px);
	box-sizing: border-box;
}

.Game__history:first-child {
	margin-top: 6px;
}

.Game__historyItem {
	margin-left: 6px;
	font-size: 24px;
}

.Game__entry {
	display: flex;
	position: absolute;
	bottom: 0;
	justify-content: center;
	width: 100%;
	margin-bottom: 12px;
	padding-top: 12px;
	border-top: 1px solid black;
}

.Game__entryInputContainer {
	display: flex;
}

.Game__entryInput {
	border: none;
	letter-spacing: 24px;
	font-size: 24px;
	background-image: url('./textbox.png'), url('./textbox.png'),
		url('./textbox.png'), url('./textbox.png');
	background-position: 0 top, 37px top, 74px top, 111px top;
	background-size: contain;
	background-repeat: no-repeat;
	color: transparent;
	text-shadow: 0 0 0 #000;
	width: 160px;
	cursor: pointer;
}

.Game__entryInput--error {
	background-image: url('./textboxerror.png'), url('./textboxerror.png'),
		url('./textboxerror.png'), url('./textboxerror.png');
}

.Game__submitBtn {
	@greenBtn();
}

.Game__submitBtn:hover {
	@greenBtnHover();
}

.Game__submitBtn:active {
	@greenBtnActive();
}

.Game__historyClear {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

.Game__chat {
	position: relative;
	border: 1px solid black;
	height: 60%;
	margin-left: 18px;
	margin-right: 18px;
}

.Game__win {
	position: absolute;
	color: @green;
	font-size: 64px;
	text-align: center;
	top: 50%;
	width: 100%;
}

.Game__win--hidden {
	display: none;
}
