@import '../style/styles';

.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.Home__nav {
	position: absolute;
	top: 24px;
	left: 12px;
	font-size: 18px;
}

.Home__about {
	padding: 12px;
	border-radius: 2px;
	background-color: @blackBtn;
	box-shadow: @box-shadow-01;
	color: white;
}

.Home__about:hover {
	background-color: @blackBtn-light;
	box-shadow: @box-shadow-02;
}

.Home__about:active {
	background-color: @blackBtn;
	box-shadow: @box-shadow-02;
}

.Home__header {
	font-size: 64px;
	margin-bottom: 32px;
}

.Home__game {
	display: flex;
	margin-bottom: 12px;
}

.Home__input {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 26px;
	margin-right: 12px;
	text-align: center;
	box-shadow: @box-shadow-01;
	border: 1px solid black;
}

.Home__input--error {
	border: 2px solid @errorRed;
}

.home__btn {
	background-color: @greenBtn;
	border: none;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 26px;
	box-shadow: @box-shadow-01;
}

.home__btn:hover {
	background-color: @greenBtnHover;
	box-shadow: @box-shadow-02;
}

.home__btn:active {
	background-color: @greenBtnActive;
}

.home__btn--error {
	background-color: @disabledBtn;
	cursor: not-allowed;
}

.home__btn--error:hover {
	background-color: @disabledBtn;
}

.home__btn--error:active {
	background-color: @disabledBtn;
}

.Home__error {
	position: absolute;
}

.Home__footer {
	position: absolute;
	bottom: 0;
}
